<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>uTakeout</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
    
    <!-- Custom CSS -->
    <link href="/static/css/creative.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
   
     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{ url_for('index') }}">uTakeout</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="takeout-section">
        <div class="container">
            <div class="col-md-4">
                <div class="above-grade text-center">
                    <h3>Address</h3>
                </div>    
                <div class="line"></div>
                
            </div>
            
            <div class="col-md-8">
                <div class="above-grade">
                    <h3 class="text-center">Takeout Quality</h3>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="col-md-4">
                <div class="user-address text-center">
                    <p>{{ number }} {{ street }}<br>{{ town }}, {{ state }}<br>{{ zip }}</p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="rest-stats">
                    <dl class="dl-horizontal">
                        <dt># Reviewed</dt>
                        <dd>{{ num_places }}</dd>
                        <dt>Avg Rating</dt>
                        <dd>{{ "{:.2f}".format(avg_yelp_rating) }}</dd>
                        <dt>Total Reviews</dt>
                        <dd>{{ sum_reviews }}</dd>
                    </dl>
                </div>
            </div>

            <div class="col-md-4">
                <div class="responsive-circle">
                    <div class="circle-inner">{{ rest_grade }}</div>
                </div>
            </div>
            
        </div>

    </div>
 

    <div class="data-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="walk-drive text-center">
                        <div class="grade">
                            <p>Walkability</p>
                            <div class="responsive-square">
                                <div class="square-inner">{{ walk_grade }}</div>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="data">
                            <h4>LAND USE MIX</h4>
                            <p>{{ lum }}</p>
                            <h4>AVG TIME TO WALK</h4>            
                            <p>{{ "{:,.1f}".format(avg_walk/60) }} minutes</p>
                        </div>
                    </div>
                </div>
               
               <div class="col-md-4">
                    <div class="walk-drive text-center">
                        <div class="crime">
                        <p>Crime Data</p>
                        </div>
                        <div class="line"></div>
                        <div class="crime-data">
                            <h4>Closest Reporting Agency</h4>
                            <p>{{ rep_agency }}</p>
                            <h4>Distance to Agency</h4>
                            <p>{{ "{:,.2f}".format(rep_agency_dist) }} mi.</p>                
                            <h4>Violent Crime</h4>
                            <p>{{ "{:,.1f}".format(violent_crime_pc) }} p.c</p>
                            <h4>Property Crime</h4>            
                            <p>{{ "{:,.1f}".format(property_crime_pc) }} p.c</p>
                        </div>
                    </div>
                </div>

               <!--
                <div class="col-md-4">
                    <h4 class="text-center">Crime Data</h4>
                    
                    <table class="table">
                        <tr>
                            <td>Closest Reporting Agency</td>
                            <td>Tfly Local Police</td>
                        </tr>
                        <tr>
                            <td>Distance to Agency</td>
                            <td>15 Min</td>
                        </tr>
                        <tr>
                            <td>Violent Crime per capita</td>
                            <td>###</td>
                        </tr>
                        <tr>
                            <td>Property Crime per capita</td>
                            <td>###</td>
                        </tr>
                    </table>
                </div>
                -->

                <div class="col-md-4">
                    <div class="walk-drive text-center">
                        <div class="grade">
                            <p>Drivability</p>
                            <div class="responsive-square">
                                <div class="square-inner">{{ drive_grade }}</div>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="data">
                            <h4>AVG TIME TO DRIVE</h4>
                            <h4>IN GOOD TRAFFIC</h4>
                            <p>{{ "{:,.1f}".format(avg_good_dr) }} minutes</p>
                            <h4>IN BAD TRAFFIC</h4>
                            <p>{{ "{:,.1f}".format(avg_bad_dr) }} minutes</p>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
    
    <div class="map-section">
        <div id="map">
            <!--<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=100.506174,100.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>-->            
            <script>
                function initMap() {
                    var mapDiv = document.getElementById('map');
                    var map = new google.maps.Map(mapDiv, {
                        center: { lat: {{ address_lat }}, lng: {{ address_lng }} },
                        zoom: 13
                    });
                    setMarkers(map);
                }

                function setMarkers(map) {

                    var spots = {{ yelp_markers|safe }};

                    for (var i = 0; i < spots.length; i++) {
                        var spot = spots[i];
                        var marker = new google.maps.Marker({
                            position: { lat: spot[1], lng: spot[2] },
                            map: map
                        });
                    }

                    var marker = new google.maps.Marker({
                            position: { lat: {{ address_lat }}, lng: {{ address_lng }} },
                            map: map,
                            icon: '/static/img/home-2.png'
                        });
                }
            </script>
        </div>
        <img src="/static/img/powered_by_google_on_white.png" align="right">
    </div>

    <div class="yelp-section">
        <div class="container">
            <table class="table table-condensed yelp-table">
                <tr>
                    <th>Name</th>
                    <th class="text-right">Rating</th>
                    <th class="text-right">Reviews</th>
                    <th class="text-right">Distance (mi)</th>
                </tr>
                {% for restaurant in restaurants %}
                <tr>
                    <td><a href="{{ restaurant.url }}">{{ restaurant.name }}</a></td>
                    <td align="right">{{ restaurant.rating }}</td>
                    <td align="right">{{ restaurant.review_count }}</td>
                    <td align="right">{{ "{:,.2f}".format(restaurant.distance) }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>    
        <img src="/static/img/yelp-logo.png" class="yelp-img" align="right">
    </div>
        
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>